<div *ngIf="product.title" class="card">
  <img class="card-img-top" *ngIf="product.imageUrl" src="{{ product.imageUrl[0] }}" alt="{{ product.title }}">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <button (click)="seeFullProduct()" class="btn btn-info btn-sm cus-btn">Details</button>
    <p class="card-text">{{ product.price | currency: 'EUR':true }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button 
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block custom-btn">Add to Cart</button> 
    <ng-template #updateQuantity> 
      <product-quantity [product]="product" [shopping-cart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </div>
</div>