<form #f="ngForm" (ngSubmit)="placeOrder()">
  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" [(ngModel)]="shipping.name" name="name" id="name" type="text" class="form-control" placeholder="Name" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="addressLine1">Address</label>
    <input #addressLine1="ngModel" [(ngModel)]="shipping.addressLine1" name="addressLine1" id="addressLine1" type="text" class="form-control" placeholder="line1" required>
    <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        Address Line 1 is required.
    </div>
  </div>
  <div class="form-group">
    <label for="addressLine2"></label>
    <input #addressLine2="ngModel" [(ngModel)]="shipping.addressLine2" name="addressLine2" id="addressLine2" type="text" class="form-control" placeholder="line2" required>
    <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
        Address Line 2 is required.
    </div>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input #city="ngModel" [(ngModel)]="shipping.city" name="city" id="city" type="text" class="form-control" placeholder="city" required>
    <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        City is required.
    </div>
  </div>
  <button 
    [disabled]="!f.valid"
    class="btn btn-primary">Place Order</button>
</form> 