<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
    <a class="logo-font" routerLink="/">FarbsWorld</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Designed by <a href="https://www.linkedin.com/in/gbolaga-famodun/" class="finelink">Gbolaga F</a>
    </span>
    </div>
    <div class="col pushright">
      <a class="finelink" routerLink="/terms">Terms & Condition</a>&emsp;
      <a class="finelink" routerLink="/privacy">Privacy Policy</a>
  </div>
  </div>
  </div>
</footer>
<!-- 
<footer class="footer">
  <div class="containers"> 
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft"> 
      <h2>FarbsWorld</h2>
      <p>© 2018, All rights reserved</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Menu —</h4>
      <div>
        <ul class="pages">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Sign</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li><i class="fa fa-facebook-f"></i><a href="#" class="mypad">Facebook</a></li>
        <li><i class="fa fa-twitter"></i><a href="#" class="mypad">Twitter</a></li>
        <li><i class="fa fa-instagram"></i><a href="#" class="mypad">Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-nav animated fadeInUp">
      <div>
        <ul class="list">
          <li><a routerLink="/contact">Contacts</a></li>
          <li><a routerLink="/terms">Terms & Condition</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <p>Designed by <a href="https://www.linkedin.com/in/gbolaga-famodun/" class="myname">Gbolaga A. Famodun</a></p>
      </div>
      <div class="col-md-4"></div>
    </div>
    </div>
</footer>
-->